{{ define "header"}} {{ partial "header" .}} {{ end }} {{ define "main"}}
<ion-page class="ion-page" main>
    {{ partial "page-header" . }}
  <ion-content padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          {{ .Content }}
        </ion-col>
      </ion-row>
      <ion-row><ion-col><h2>Laatste nieuws</h2></ion-col></ion-row>
      {{ range (where .Site.RegularPages.ByTitle "Section" "nieuws").ByDate.Reverse }}
      <ion-row><ion-col>
        <ion-card>
          <a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a>
        </ion-card>
      </ion-col></ion-row>
      {{ end }}
    </ion-grid>
  </ion-content>
</ion-page>
{{ end }}